<p-toast></p-toast>
<div class="col-12 p-0 excersize-container">
    <p-table #dt [value]="excersizes" responsiveLayout="stack" [breakpoint]="'960px'" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '20rem'}"
             selectionMode="multiple" [(selection)]="selectedExcersizes" dataKey="id" [globalFilterFields]="['name','target','secondaryTarget']">
        <ng-template pTemplate="caption">
            <div class="grid customCaption">
                <div class="col-12 md:col-3 lg:col-3 p-0">
                    <p class="pt-1 pl-3">Available Exercises</p>
                </div>
                <div class="grid col-12 pb-0 md:col-9 lg:col-4 lg:col-offset-5">
                   <div class="col-4 ml-2 md:ml-0">
                       <p-dropdown styleClass="p-inputtext-sm col-12 p-0" (onChange)="clearSearch()" [options]="searchAbleExersizeFields" [(ngModel)]="selectedSearchField" optionLabel="field"></p-dropdown>
                    </div>
                    <div class="col-7">
                        <!-- Somekind of bug where i cant get the input fit the parrent this is why width is 120%-->
                        <span class="p-input-icon-left " style="margin-left: -0.5em; width: 120%;">
                            <i class="pi pi-search"></i>
                            <input class="p-inputtext-sm col-12 " pInputText type="text" [(ngModel)]="currentSearchString" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search by {{selectedSearchField.field}}" />
                        </span>
                   </div>
                   <div class="col-12">
                       <p-selectButton (onChange)="applyPushPullFilter()" styleClass="ml-2 md:ml-0" [options]="pushPullSearh" [(ngModel)]="selectedPushPullSearch" optionLabel="field"></p-selectButton>
                   </div>
                </div>
                <div class="col-12 pt-0 pb-0 pl-3 pr-3" *ngIf="selectedExcersizes.length === 0">
                    <p-message icon="pi pi-info-circle" severity="info" text="{{insultService.insultOn? insultService.getRandomInsultType(0):'Tap on exercises and use the bottom right action button to create new programs'}}" styleClass="mr-2 col-12"></p-message>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr >
                <th>Name</th>
                <th>Push/Pull</th>
                <th>Primary Targets</th>
                <th>Secondary Targets</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-excersize let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="excersize" [pSelectableRowIndex]="rowIndex">
                <td><span class="p-column-title pr-3 text-right"><strong>Name</strong></span>
                    <span>{{excersize.name}}</span>
                </td>
                <td><span class="p-column-title pr-3"><strong>Push/Pull</strong></span>
                    <span>{{excersize.pushPull}}</span>
                </td>
                <td><span class="p-column-title pr-3"><strong>Primary Targets</strong></span> 
                    <span class="text-right"><p-tag *ngFor="let muscle of excersize.target" value="{{muscle}}" severity="info" styleClass="mr-1 mt-1"></p-tag></span>
                </td>
                <td><span class="p-column-title pr-3"><strong>Secondary Targets</strong></span> 
                    <span class="text-right"><p-tag *ngFor="let muscle of excersize.secondaryTarget" value="{{muscle}}" severity="info" styleClass="mr-1 mb-1"></p-tag></span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="col-10 md:col-12 stikky-action" >
    <p-speedDial buttonClassName="p-button-secondary" [model]="actions" direction="up" [transitionDelay]="80" showIcon="pi pi-cog" hideIcon="pi pi-times"></p-speedDial>
</div>

