<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<div class="col-12 p-0 excersize-container">
    <p-table #dt [value]="myPrograms" responsiveLayout="stack" [breakpoint]="'960px'" styleClass="p-datatable-sm" [tableStyle]="{'min-width': '20rem'}"
            dataKey="id" [globalFilterFields]="['name','target']">
        <ng-template pTemplate="caption">
            <div class="grid">
                <div class="col-12 md:col-4 p-0">
                    <p class="pt-1 pl-3">My Programs</p>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr >
                <th>Name</th>
                <th>Schedule</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-excersize let-columns="columns" let-rowIndex="rowIndex">
            <tr>
                <td><span class="p-column-title"><strong>Name</strong></span>{{excersize.name}}</td>
                <td><span class="p-column-title"><strong>Schedule</strong></span><span><span *ngFor="let date of excersize.schedule">{{date.substring(0,3)}}, </span></span></td>
                <td>
                    <span class="p-column-title"><strong>Action</strong></span>
                    <span>
                        <p-button (click)="startProgram(excersize.id)"  styleClass="p-button-sm p-button-success" icon="pi pi-flag"></p-button>
                        <p-button (click)="updateProgram(excersize.id)" styleClass="p-button-sm ml-1" icon="pi pi-file-edit"></p-button>
                        <p-button (click)="showStatsForProgram(excersize.id)" styleClass="p-button-sm ml-1 p-button-warning" icon="pi pi-chart-bar"></p-button>
                        <p-button (click)="confirmDelete($event, excersize.id)" styleClass="p-button-sm ml-1 p-button-danger" icon="pi pi-trash"></p-button>
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>