<p-toast></p-toast>
<div class="grid ml-1">
    <div class="col-12">
        <h2>Default starting page</h2>
    </div>
    <div class="col-12 pt-0">
        <div class="field-radiobutton">
            <p-radioButton name="No" value="exercises" [(ngModel)]="selectedDefaultPage" inputId="defaultpage1" (onClick)="commonService.updateValueOfKey('exercises',commonService.DEFAULTPAGEKEY)"></p-radioButton>
            <label for="defaultpage1">Exercises</label>
        </div>
        <div class="field-radiobutton">
            <p-radioButton name="Yes" value="myprograms" [(ngModel)]="selectedDefaultPage" inputId="defaultpage2" (onClick)="commonService.updateValueOfKey('myprograms',commonService.DEFAULTPAGEKEY)"></p-radioButton>
            <label for="defaultpage2">My Programs</label>
        </div>
        <div class="field-radiobutton">
            <p-radioButton name="Yes" value="settings" [(ngModel)]="selectedDefaultPage" inputId="defaultpage3" (onClick)="commonService.updateValueOfKey('settings',commonService.DEFAULTPAGEKEY)"></p-radioButton>
            <label for="defaultpage3">Settings? (why would you??)</label>
        </div>
    </div>

    <div class="col-12">
        <h2>Show rest timer</h2>
    </div>
    <div class="col-12 pt-0">
        <div class="field-radiobutton">
            <p-radioButton name="No" value="false" [(ngModel)]="selectedRestTimeSetting" inputId="notoresttimers" (onClick)="commonService.updateValueOfKey('false',commonService.RESTCLOCKSETTING)"></p-radioButton>
            <label for="notoresttimers">No, dont show rest clock countdown</label>
        </div>
        <div class="field-radiobutton">
            <p-radioButton name="Yes" value="true" [(ngModel)]="selectedRestTimeSetting" inputId="yestTorest" (onClick)="commonService.updateValueOfKey('true',commonService.RESTCLOCKSETTING)"></p-radioButton>
            <label for="yestTorest">Yes, show rest clock countdown</label>
        </div>
    </div>

    <div class="col-12">
        <h2>Themes</h2>
    </div>
    <div class="col-12 pt-0">
        <div *ngFor="let theme of themeService.themeNames" class="field-checkbox">
            <p-radioButton [inputId]="theme.friendlyName" name="{{theme.friendlyName}}" [value]="theme.themeName" [(ngModel)]="selectedTheme" (onClick)="themeService.switchTheme(theme.themeName)" ></p-radioButton>
            <label [for]="theme.friendlyName">{{theme.friendlyName}}</label>
        </div>
    </div>
    <div class="col-12">
        <h2>Enable Insults</h2>
        <p>Disclaimer: All of the insults are just for the memes and to push you to obtain thickness</p>
    </div>
    <div class="col-12 pt-0">
        <div class="field-radiobutton">
            <p-radioButton name="No" value="false" [(ngModel)]="selectedInsultSetting" inputId="insult1" (onClick)="changeInsultSetting('false')"></p-radioButton>
            <label for="insult1">No, I am fragile</label>
        </div>
        <div class="field-radiobutton">
            <p-radioButton name="Yes" value="true" [(ngModel)]="selectedInsultSetting" inputId="insult2" (onClick)="changeInsultSetting('true')"></p-radioButton>
            <label for="insult2">Yes</label>
        </div>
    </div>

    <div class="col-12">
        <h2>Export / Import Programs</h2>
        <div class="col-12 md:col-7 lg:col-4 p-0 pr-1">
            <p-message icon="pi pi-info-circle" severity="info" text="You can export your programs from one device and then import them into another with a simple click of a button!" styleClass="col-12"></p-message>   
        </div>
    </div>
    <div class="col-12 pt-0">
        <p-button icon="pi pi-file-export" label="Export My Program" styleClass="p-button-outlined mr-3" (onClick)="exportMyProgram()"></p-button>
        <p-fileUpload #fileInput chooseIcon="pi pi-file-import" styleClass="p-button-outlined mt-2" mode="basic" chooseLabel="Import Program" accept="application/json" (onSelect)="importProgram($event)"></p-fileUpload>
    </div>

</div>