:host::ng-deep  .p-accordion .p-accordion-header .p-accordion-header-link 
{
    padding: 0.8rem !important;
    background: transparent !important;
    border: none;
}

:host::ng-deep .p-accordion .p-accordion-content
{
    border: none !important;
}
