<div class="col-12 p-0">
    <h2>Quest for Thiccness</h2>
    <span>This is a simple GYM web-app that I made for myself because I am too cheap to buy a subscription and i fucking hate Excel. 
          I don't know how the fuck you stumbled here but <strong>welcome!</strong>.</span><br><br>
    <span><strong>NOTE:</strong> This web-app only stores information in the current device <strong>progression is not kept between devices</strong> I dont support polygamy.
    <br><br> This web-app is more suited but the advanced gym goers.</span>
    <br><br><br>
    <h2>How to use the web-app</h2>
    <span>Selected the exercises you want and then click on the action button to create a new program</span>
    <img src="{{commonService.BASEULR}}assets/tutorial/step1.png" alt="step 1 in how to use this shit">
    <br><br><br>
    <span>Fill out the form, in the sec and click save</span>
    <img src="{{commonService.BASEULR}}assets/tutorial/step2.png" alt="step 2 in how to use this shit">
    <br><br><br>
    <span>Then you can navigate to <strong>My Programs</strong> to see your programs</span>
    <img src="{{commonService.BASEULR}}assets/tutorial/step3.png" alt="step 3 in how to use this shit">
    <br><br><br>
    <strong><a href="https://www.youtube.com/hashtag/rejectweakness" target="_blank">#rejectweakness</a></strong>
    <h2>About the web-app</h2>
    <span>This web-app is written in Angular v15 and uses the PrimeNG v15 styling framework.</span>

</div>